* {
  margin: 0;
  padding: 0;
}


.imgone {
  width: 100%;
  height: 550px;
  display: block;
  object-fit: cover;
  position: relative;
  
}

 .imgtwo {
  width: 14vw;
  position:absolute;
  right: 22vw;
  bottom: 0px;
  z-index: 5px;
} 